.slide-bottom-1 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* 
.slide-bottom-2 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}
.slide-bottom-3 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

.slide-bottom-4 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

.slide-bottom-5 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}
.slide-bottom-6 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.slide-bottom-7 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.slide-bottom-8 {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
} */

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  