<div class="color-change-5x vh-100">
    <nav 
        class="p-3 d-flex justify-content-between container mx-auto align-items-center mb-5"
        style="border-bottom: 1px solid #fff;"
    >
        <img
            src="../../../assets/logo-white.svg"
            width="200"
        />

        <div class="d-flex gap-5 align-items-center">
            <div 
                class="text-white fw-semibold h5 m-0 p-0" 
                style="cursor: pointer;" routerLink="/home"
            >
                home
            </div>

            <div 
                class="text-white fw-semibold h5 m-0 p-0" 
                style="cursor: pointer;" routerLink="/product-show"
            >
                products
            </div>

            <div 
                class="text-white fw-semibold h5 m-0 p-0" 
                style="cursor: pointer; text-decoration: underline;" 
                routerLink="/about-us"
            >
                about us
            </div>
        </div>

        <div class="d-flex gap-4 align-items-center">

            <div 
                class="button-3 text-white fw-bold px-5 py-2" 
                style="cursor: pointer; border: 1px solid #fff;" 
                routerLink="/login"
            >
                <h5 class="p-0 m-0">join us</h5>
            </div>
        </div>
    </nav>

    <div class="m-5" style="height: 20px;"></div>
    
    <div class="container mx-auto mt-5 mb-5">
        <h1 
            class="text-white fw-bold mb-5 text-center tracking-in-expand" 
            style="font-size: 5rem;"
        >
            We are
            <span class="text-grandient-2 text-change"></span>
        </h1>

        <div class="mb-5 d-flex justify-content-center slide-bottom-1">
            <div 
                class="button-3 text-white fw-bold px-5 py-2" 
                style="border: 1px solid #fff;" 
            >
                <h5 class="p-0 m-0 fw-semibold">We wish you enjoy this website</h5>
            </div>
        </div>

        <div class="row">
            <div class="col p-0 slide-bottom-1">
                <div class="slider w-100 shadow" style="height: 400px;">
                    <div class="slides">
                        <img 
                            src="../../../assets/cat1.avif" 
                            class="slider-1" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat2.avif" 
                            class="slider-2" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat3.avif" 
                            class="slider-3" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat4.avif" 
                            class="slider-4" 
                            style="object-fit: cover;"
                        />
                    </div>
                </div>
            </div>

            <div class="col d-flex flex-column gap-3 m-0 px-3 slide-bottom-1">
                <div class="slider w-100 shadow" style="height: 100px; width: 200px">
                    <div class="slides-3">
                        <img 
                            src="../../../assets/cat9.avif" 
                            class="slider-1" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat10.avif" 
                            class="slider-2" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat11.avif" 
                            class="slider-3" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat12.avif" 
                            class="slider-4" 
                            style="object-fit: cover;"
                        />
                    </div>
                </div>
                <div class="slider w-100 shadow " style="height: 284px; width: 200px">
                    <div class="slides-2">
                        <img 
                            src="../../../assets/cat5.avif" 
                            class="slider-1" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat6.avif" 
                            class="slider-2" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat7.avif" 
                            class="slider-3" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat8.avif" 
                            class="slider-4" 
                            style="object-fit: cover;"
                        />
                    </div>
                </div>
            </div>

            <div class="col d-flex flex-column gap-3 m-0 p-0 slide-bottom-1">
                <div class="slider w-100 shadow" style="height: 192px; width: 200px">
                    <div class="slides">
                        <img 
                            src="../../../assets/cat13.avif" 
                            class="slider-1" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat14.avif" 
                            class="slider-2" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat15.avif" 
                            class="slider-3" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat16.avif" 
                            class="slider-4" 
                            style="object-fit: cover;"
                        />
                    </div>
                </div>
                <div class="slider w-100 shadow" style="height: 192px; width: 200px">
                    <div class="slides-3">
                        <img 
                            src="../../../assets/cat17.avif" 
                            class="slider-1" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat18.avif" 
                            class="slider-2" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat19.avif" 
                            class="slider-3" 
                            style="object-fit: cover;"
                        />
                        <img 
                            src="../../../assets/cat20.avif" 
                            class="slider-4" 
                            style="object-fit: cover;"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
